<h2>Add url</h2>

<% unless params.valid? %>
  <div class="errors">
    <h3>There was a problem with your submission</h3>
    <ul>
      <% params.error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%=
  form_for :url, routes.urls_path do
    div class: 'input' do
      label      :title
      text_field :title
    end

    div class: 'input' do
      label      :address
      text_field :address
    end

    div class: 'controls' do
      submit 'Create Url'
    end
  end
%>
