.nav-wrapper {
  min-height: 40px;
  padding: 0;
}

nav {
  ul {
    background-color: $primarycolor;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  li {
    float: left;

    a {
      color: #fff;
      display: block;
      font-size: .7em;
      padding: 1.2em 1.4em;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background-color: $secondarycolor;
      }
    }
  }

  li:not(:last-child) {
    border-right: 1px solid #eee;
  }
}

.nav-affix {
  max-width: $max-width;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

body {
  &.home #menu-home {
    background-color: $secondarycolor;
  }

  &.urls #menu-urls {
    background-color: $secondarycolor;
  }
}
