html,
body {
  height: 100%;
  padding: 0;
}

body {
  background: $primarycolor url('hall.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#container {
  background: $container-color;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 60px 0 rgba(0, 0, 0, 1);
  height: 100%;
  height: auto !important;
  margin: 0 auto;
  max-width: $max-width;
  min-height: 100%;
  position: relative;
}

header {
  padding: 0;

  h1 {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 1em;
    margin: 0;
    padding: 1em;
    text-transform: uppercase;
  }
}

article {
  padding: 0 0 4em;
}

section {
  padding: 1em;
}

footer {
  background: $secondarycolor;
  bottom: 0;
  color: #fff;
  font-size: .7em;
  position: absolute;
  width: 100%;
}
