html {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
  padding: 0;
}

body {
  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
  background-attachment: fixed;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

p:not(:last-child) {
  margin-bottom: 2em;
}

.vcard {
  margin: 1em 0 2em;
}

#container {
  background: $container-color;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 60px 0 rgba(0, 0, 0, 1);
  height: 100%;
  height: auto !important;
  margin: 0 auto;
  max-width: $max-width;
  min-height: 100%;
  position: relative;
}

header {
  padding: 0;

  h1 {
    font-size: 1em;
    margin: 0;
    padding: 1em;
    text-transform: uppercase;
  }
}

article {
  padding: 0 0 4em;
}

section {
  padding: 1em;
}

footer {
  background: $secondarycolor;
  bottom: 0;
  color: #fff;
  font-size: .7em;
  position: absolute;
  width: 100%;
}
