<ul class="navigation">
  <li id="menu-home">
    <%= link_to 'Home', routes.root_path, title: 'Home' %>
  </li>
  <li id="menu-urls">
    <%= link_to 'Urls', routes.urls_path, title: 'Urls' %>
  </li>
  <li id="menu-sitenotice" class="pull-right">
    <%= link_to 'Site notice', routes.site_notices_path, title: 'Site notice' %>
  </li>
</ul>
