$primary-border-color: #f0f4f5;
$accent-border-color: #dfe6e8;

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  width: 100%;
}

tr {
  line-height: 1.42857143;
}

td,
th {
  font-size: .9em;
  padding: 1em 2em;
  text-align: left;
  vertical-align: middle;
}

th {
  background-color: $primary-border-color;
  border-bottom: 1px solid $accent-border-color;
  color: #999;
  font-weight: 400;
  text-transform: uppercase;
}

td {
  border-top: 1px solid $primary-border-color;
  color: #666;
}

@media only screen and (max-width: 760px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
	}

  table {
    thead tr {
      left: -9999px;
      position: absolute;
      top: -9999px;
    }

    tbody tr {
      display: flex;
      flex-direction: column;
    }

    tr:not(:last-child) {
      border-bottom: 1px solid $accent-border-color;
    }

    td {
      border: 0;
      padding-bottom: 0;
      padding-top: 0;
      word-wrap: break-word;

      &:nth-child(1) {
        margin-top: -2.3em;
        order: 2;
      }

      &:nth-child(2) {
        order: 3;
        text-align: center;
      }

      &:nth-child(3) {
        order: 4;
        text-align: center;
      }

      &:nth-child(4) {
        margin: 1em 2em 0 0;
        order: 1;
        padding: 0;
        text-align: right;
      }
    }

    td:not(:first-child):not(:last-child) {
      text-align: center;
    }

    td:first-child > p:first-child {
      width: 90%;
    }
  }
}
